<!-- <div
  style="
    background: #ffffff;
    overflow: auto;
    width: auto;
    border: solid gray;
    border-width: 0.1em 0.1em 0.1em 0.8em;
    padding: 0.2em 0.6em;
  "
>
  <pre style="margin: 0; line-height: 125%">{
  <span style="color: #000080; font-weight: bold">
    &quot;projectName&quot;</span>:
  <span style="color: #0000FF">&quot;Cryptoboard&quot;</span>,
  <span style="color: #000080; font-weight: bold">
    &quot;projectFeatures&quot;
  </span>: [
      <span style="color: #0000FF">
        &quot;Charts &amp; Alerts&quot;
    </span>, 
      <span style="color: #0000FF">
        &quot;Payment Intergration&quot;
    </span>, 
      <span style="color: #0000FF">
        &quot;AR Functionality&quot;
    </span>,
      <span style="color: #0000FF">
        &quot;AR Functionality&quot;
    </span>,
    ]
}
</pre>
</div> -->
